# Practice in the first module of Pandas

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [2]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

### Mashg'ulot uchun DF yuklab olamiz.
Quyidagi kodni bajaring

In [8]:
df = pd.read_csv("usa_cars.csv", index_col=0)

### **2-mashq.** DF hajmini chiqaring

In [42]:
# Javobni shuyerga yozing
df.shape

(2499, 12)

### **3-mashq**. DF boshidan 6 ta qator chiqaring

In [43]:
# Javobni shuyerga yozing
df.head(6)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,dodge,mpv,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left

### **4-mashq.** DF oxiridan 5 ta qator chiqaring

In [6]:
# Javobni shuyerga yozing
df.tail(5)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

### **5-mashq**. DF ni yili `year` bo'yicha tartiblab chiqaring

In [46]:
# Javobni shuyerga yozing
df.sort_values(by = 'year', ascending = False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2339,19800,nissan,rogue,2020,clean vehicle,14850,silver,knmat2mv2lp511637,167614830,minnesota,usa,14 hours left
399,61200,bmw,series,2020,clean vehicle,7509,black,wba7t2c04lgl17687,167417053,california,usa,7 days left
2305,14700,nissan,rogue,2020,clean vehicle,15387,gray,knmat2mv5lp500471,167743353,pennsylvania,usa,2 days left
2302,21100,nissan,rogue,2020,clean vehicle,19597,silver,5n1at2mt6lc714032,167725016,south carolina,usa,21 hours left
1704,25200,ford,escape,2020,clean vehicle,7,black,1fmcu9f61lua48374,167751305,virginia,usa,21 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left

### **6-mashq**. DF qatorlarini narxi bo'yicha reytinglang va konsolga narxi bo'yicha tartiblangan holatda chiqaring.

In [48]:
# Javobni shuyerga yozing
df.sort_values(by = "price", ascending = True)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
410,0,chevrolet,door,1995,salvage insurance,274706,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left
330,0,ford,door,1996,salvage insurance,296860,green,1falp62w5th144314,167359712,california,usa,19 hours left
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left
496,0,ford,pickup,1996,salvage insurance,252588,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left

### **7-mashq**. DFdan eng qimmat mashina haqidagi ma'lumotni chiqaring

In [51]:
# Javobni shuyerga yozing
df.iloc[df["price"].argmax()]

price                         84900
brand                 mercedes-benz
model                      sl-class
year                           2017
title_status          clean vehicle
mileage                       25302
color                        silver
vin               wddjk7ea3hf044968
lot                       167607883
state                       florida
country                         usa
condition               2 days left
Name: 502, dtype: object

### **8-mashq**. DFdan eng ko'p yurgan (`km_driven`) mashina haqidagi ma'lumotni chiqaring

In [52]:
# Javobni shuyerga yozing
df.iloc[df["mileage"].argmax()]

price                          1025
brand                     peterbilt
model                         truck
year                           2010
title_status      salvage insurance
mileage                     1017936
color                        color:
vin               1xp7d49x0ad793710
lot                       167529842
state                       georgia
country                         usa
condition             17 hours left
Name: 528, dtype: object

### **9-mashq**. DF dagi barcha brandlar va ularning sonini chiqaring

In [53]:
# Javobni shuyerga yozing
df["brand"].value_counts()

brand
ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
kia                  13
buick                13
infiniti             12
honda                12
cadillac             10
mercedes-benz        10
heartland             5
land                  4
peterbilt             4
audi                  4
acura                 3
lincoln               2
lexus                 2
mazda                 2
maserati              1
toyota                1
harley-davidson       1
jaguar                1
ram                   1
Name: count, dtype: int64

### **10-mashq**. DF dagi raqamli ustunlar haqida umulashtiruvchi statistikani chiqaring (min, max, mean, std va hokazo)

In [39]:
# Javobni shuyerga yozing
df.describe()

              price         year       mileage           lot
count   2499.000000  2499.000000  2.499000e+03  2.499000e+03
mean   18767.671469  2016.714286  5.229869e+04  1.676914e+08
std    12116.094936     3.442656  5.970552e+04  2.038772e+05
min        0.000000  1973.000000  0.000000e+00  1.593488e+08
25%    10200.000000  2016.000000  2.146650e+04  1.676253e+08
50%    16900.000000  2018.000000  3.536500e+04  1.677451e+08
75%    25555.500000  2019.000000  6.347250e+04  1.677798e+08
max    84900.000000  2020.000000  1.017936e+06  1.678055e+08

### **11-mashq**. DF dan ford kompaniyasining barcha mashinalarnini ajratib chiqaring

In [54]:
# Javobni shuyerga yozing
df[df["brand"] == 'ford']

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
9,5250,ford,mpv,2017,clean vehicle,63418,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
14,20700,ford,door,2013,clean vehicle,100757,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left
18,5210,ford,mpv,2017,clean vehicle,35714,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
...,...,...,...,...,...,...,...,...,...,...,...,...
2199,13800,ford,fusion,2019,clean vehicle,29345,white,3fa6p0lu1kr222799,167802379,north carolina,usa,2 days left
2200,56000,ford,srw,2018,clean vehicle,25371,black,1ft7w2bt4jec50359,167749689,pennsylvania,usa,3 days left
2201,13800,ford,fusion,2019,clean vehicle,30054,silver,3fa6p0lu3kr210749,167802380,north carolina,usa,2 days left
2202,45800,ford,srw,2018,clean vehicle,11173,white,1ft7w2bt3jeb02932,167749690,pennsylvania,usa,2 days left
2203,13800,ford,fusion,2019,clean vehicle,30902,no_color,3fa6p0lu8kr225585,167802381,north carolina,usa,2 days left

### **12-mashq**. Nissan kompaniyasining eng qimmat va eng arzon mashinalarini chiqaring

In [67]:
# Javobni shuyerga yozing
nissan_df = df[df["brand"] == "nissan"]
nissan_df.iloc[nissan_df['price'].argmax()]

price                         36300
brand                        nissan
model                            xd
year                           2017
title_status          clean vehicle
mileage                       16224
color                         white
vin               1n6ba1f46hn535299
lot                       167753308
state                      virginia
country                         usa
condition             21 hours left
Name: 2375, dtype: object

In [68]:
nissan_df.iloc[nissan_df['price'].argmin()]

price                           375
brand                        nissan
model                          door
year                           2017
title_status      salvage insurance
mileage                           1
color                           red
vin               3n1ce2cp0hl360793
lot                       167619908
state                north carolina
country                         usa
condition               2 days left
Name: 2417, dtype: object

### **13-mashq**. Chevrolet kompaniyasining barcha modellarini chiqaring

In [30]:
# Javobni shuyerga yozing
df[df["brand"] == "chevrolet"]

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
6,7300,chevrolet,pk,2010,clean vehicle,149050,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
8,14600,chevrolet,malibu,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
12,31900,chevrolet,1500,2018,clean vehicle,22909,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left
22,15000,chevrolet,door,2015,clean vehicle,61578,black,2gnflhe33f6214023,167763280,ohio,usa,2 days left
...,...,...,...,...,...,...,...,...,...,...,...,...
803,28300,chevrolet,ld,2019,clean vehicle,27665,red,2gcvkpec1k1124569,167805479,indiana,usa,2 days left
804,27300,chevrolet,ld,2019,clean vehicle,25427,black,2gcvkpec4k1105269,167805483,indiana,usa,2 days left
805,3500,chevrolet,door,2013,clean vehicle,78198,gray,1g11c5saxdf350889,167617243,new jersey,usa,7 days left
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left
807,18300,chevrolet,impala,2019,clean vehicle,34538,silver,2g11z5s37k9134455,167805500,indiana,usa,2 days left

### **14-mashq**. Mashina narxi va yili o'rtasidagi korrelyasiya qiymatini chiqaring

In [69]:
# Javobni shuyerga yozing
df[['price', 'year']].corr()

          price      year
price  1.000000  0.418274
year   0.418274  1.000000

### **14-mashq**. Mashina narxi va boshqa ustunlar o'rtasidagi korrelyasiyani chiqaring

In [ ]:
# Javobni shuyerga yozing
df

### **15-mashq**. DF dan kia va hyundai mashinalarini ajratib alohida DF ga saqlang. Yangi DFni chiqaring

In [73]:
# Javobni shuyerga yozing
new_df = df[(df["brand"] == "kia") | (df["brand"] == "hyundai")]
new_df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
16,5200,kia,forte,2018,clean vehicle,46194,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left
21,7300,kia,forte,2018,clean vehicle,38823,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left
26,21500,kia,sorento,2020,clean vehicle,11451,blue,5xypg4a59lg616029,167801828,north carolina,usa,2 days left
287,8200,hyundai,door,2017,clean vehicle,56690,white,5npd84lf6hh128808,167117726,connecticut,usa,5 hours left
288,3000,kia,door,2013,clean vehicle,97142,silver,knagm4a75d5378293,167552545,missouri,usa,9 days left
291,12700,kia,soul,2019,clean vehicle,23514,silver,kndjp3a55k7006351,167679072,california,usa,10 days left
292,13800,kia,sorento,2017,clean vehicle,86959,gray,5xyphda50hg232046,167803771,north carolina,usa,3 days left
296,9800,hyundai,elantra,2017,clean vehicle,35687,red,kmhd84lf5hu191402,167117732,connecticut,usa,5 hours left
366,5350,hyundai,mpv,2019,clean vehicle,43536,blue,km8j33a49ku860727,167698680,florida,usa,22 hours left
389,3760,hyundai,doors,2019,clean vehicle,30382,silver,5npd84lf6kh456317,167698685,florida,usa,22 hours left
417,5998,hyundai,doors,2014,clean vehicle,122975,phantom black,5npdh4ae0eh480157,167279690,new york,usa,5 days left
419,0,kia,wagon,2008,salvage insurance,148463,silver,knafg525787197602,167247592,indiana,usa,16 hours left
424,3960,hyundai,doors,2019,clean vehicle,35623,red,5npd84lf5kh403222,167697946,ohio,usa,2 days left
438,4010,hyundai,doors,2019,clean vehicle,31233,silver,kmhd84lf4ku746279,167697947,ohio,usa,2 days left
440,13000,kia,sportage,2017,clean vehicle,71991,silver,kndpn3ac7h7113313,167606881,new jersey,usa,2 hours left
450,4690,hyundai,mpv,2019,clean vehicle,33785,silver,km8k12aa0ku242609,167697948,ohio,usa,2 days left
463,8000,hyundai,door,2015,clean vehicle,88274,red,km8jucag9fu984199,167607388,pennsylvania,usa,7 days left
486,4730,hyundai,mpv,2019,clean vehicle,30121,red,km8j23a45ku893842,167697951,ohio,usa,2 days left
513,4650,hyundai,mpv,2019,clean vehicle,27492,white,km8j23a44ku882752,167697953,ohio,usa,2 days left
525,3440,hyundai,doors,2019,clean vehicle,34895,gray,3kpc24a34ke050725,167697954,ohio,usa,2 days left
527,3810,kia,door,2016,clean vehicle,39408,black,kndjx3ae3g7012477,167692796,california,usa,20 hours left
537,4750,hyundai,mpv,2019,clean vehicle,25847,gray,km8j23a4xku846404,167697955,ohio,usa,2 days left
549,3460,hyundai,door,2012,clean vehicle,142106,white,5npeb4ac2ch437716,167697983,mississippi,usa,2 days left
551,3250,hyundai,door,2015,clean vehicle,111612,gray,5npdh4ae3fh644096,167692885,california,usa,20 hours left
623,14000,kia,sorento,2017,clean vehicle,53424,black,5xypgda51hg221253,167119104,connecticut,usa,5 hours left
626,13300,kia,door,2017,clean vehicle,37125,no_color,5xypgda39hg262132,167119105,connecticut,usa,5 hours left
629,15500,kia,sorento,2017,clean vehicle,37668,red,5xypgda59hg292944,167119106,connecticut,usa,5 hours left
631,21500,kia,sorento,2017,clean vehicle,43761,gray,5xypkda50hg299327,167119107,connecticut,usa,5 hours left

### **16-mashq**. Chevrolet kompaniyasining malibu va impala mashinalarini alohida DF ko'rinishida chiqaring

In [ ]:
# Javobni shuyerga yozing

### **17-mashq**. Ford kompaniyasining mustang modelini alohioda DF ga ajrating

In [ ]:
# Javobni shuyerga yozing

### **18-mashq**. 2018-yildan keyin chiqqan Mustang mashinalirining o'rtacha narxini chiqaring

In [ ]:
# Javobni shuyerga yozing

### **19-mashq**. Mustang mashinalari haqida umumlashgan statistikani chiqaring

In [ ]:
# Javobni shuyerga yozing
df[df["brand"] == "ford"]

### **20-mashq**. Sotuvdagi ford mashinalarining aksari nechachni yilda ishlab chiqarilganini toping

In [ ]:
# Javobni shuyerga yozing